{% extends 'partials/base.html.twig' %}

{% block content %}
                        <section class="single-page-title"style="background-image: url(/cs3/images/3/3/e/d/1/33ed12d1f22d497ea009e3c189a57e5ccc213020-img-page-title.jpeg);">
    <div class="container text-center">
        <h2>Contact</h2>
    </div>
</section>


    <section class="contact-form ptb-100">
    <div class="container text-center">
        <h2>Please use this form to contact us with inquiries or to report problems or bugs.</h2>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                


<form name="contact-form"
      action="https://formspree.io/info@learnxp.com"
      method="POST"
      id="contact-form"                  >

  
  <div class="row">
          
        <div class="col-md-6">
    
        
            <div class="form-group user-name">
            <label for="name" class="sr-only">Name</label>
                                                <input
                                                name="name"
                        value=""
                                                    type="text"
                                class="form-control form-control"                                                                                                                 placeholder="Name"                                                                                                                                            required="required"                                                                                
                        />
                
                    </div>
    
              
    
        
            <div class="form-group user-email">
            <label for="email" class="sr-only">Email</label>
                                                <input
                                                name="email"
                        value=""
                                                    type="email"
                                    class="form-control form-control"                                                                                                                 placeholder="Email Address"                                                                                                                                            required="required"                                                                                
                        />
                                    </div>
    
              
    
        
            <div class="form-group user-phone">
            <label for="phone" class="sr-only">Phone</label>
                                                <input
                                                name="phone"
                        value=""
                                                    type="text"
                                class="form-control form-control"                                                                                                                 placeholder="Phone"                                                                                                                                            required="required"                                                                                
                        />
                
                    </div>
    
              
        </div>
    <div class="col-md-6">
    
        
            <div class="form-group user-message">
            <label for="message" class="sr-only">Message</label>
                                <textarea
        class="form-control"

                name="message"
                            class="form-control"                                                 placeholder="Write Message"                                                            required="required"                                    rows="6"                            ></textarea>
                    </div>
    
        </div>
        </div>

  
                <input type="hidden" name="_subject" value="Tsugi Cloud Query" />
                <input type="hidden" name="_next" value="https://www.tsugicloud.org/" />
                <input type="hidden" name="_format" value="plain" />
                <input type="text" name="_gotcha" style="display:none" />

    <div class="buttons">
  
        <button
                        class="btn btn-primary"
                        type="submit"
        >
            Send Message
        </button>
  
    </div>
  
  <input type="hidden" name="form-nonce" value="1ac4d0f9fa8fe4c0a4f27cffed86b2aa" />
</form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
